# --- Segurança (NUNCA ENVIE ISSO) ---
.env
.env.local
secrets.py

# --- Lixo do Python ---
__pycache__/
*.py[cod]
venv/
.venv/
env/

# --- Lixo do Sistema ---
.DS_Store
Thumbs.db

# --- Logs e Banco SQLite (se ainda tiver) ---
*.log
*.sqlite
*.db
nexo.db

# --- Frontend (Node) ---
node_modules/
dist/
.output/